.radio_item{
    display: none !important;
    }

.label_item {
    opacity: 1; /* note to self: change this to below 1 but above 0 if you want the image to be transparent before clicking it*/
    }

.radio_item:checked + label {
        opacity: 1;
        }

label {
    cursor: pointer;   
    }

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image:url("/static/images/background.jpeg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

.middle{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:antiquewhite;
    width:40%;

}

#champ{
    margin:auto;
    width:100%;
    padding-left:37%
}
#champ img{
    width:27%;
}