{% extends 'base.html' %}
{% block play %}
<link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
<div id="player_one_form">
<form action="/play" method="post">
    <label for="name">Player name</label>
    <input type="text" name="name" id="name">

    <label for="choice">Make your choice</label>
    <select id="choice" name="choice">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>

    <input type="submit">
</form>
</div>
<img id="cowboy_left" src="/static/images/player_one.png">
<img id="robot_right" src="/static/images/robot.png">

{% endblock play%}
