<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to Rock, Paper, Scissors!</h1>
    <p>At this point in time the game is very basic, you make your choice by placing it in the title so localhost:5000 would become localhost:5000/rock and then localhost:5000/rock/paper. </p>
    <p>The rules are very simple, rock beats paper, paper beats scissors and scissors beat rock.</p>
    <p><a href="/">Return back home</a></p>
</body>
</html>